<h1>Wortschatz-Trainer</h1>
<p>Der Wortschatz-Trainer dient dazu, Fremdw&ouml;rter zu erlernen. Um zu beginnen, gehe wie folgt vor:</p>
<ol type="1">
  <li><b>Erfassen:</b> Erfasse neue W&ouml;rter, um diese anschliessend zu Trainieren und Dich zu pr&uuml;fen.</li>
  <li><b>Trainieren:</b> Trainiere die erfassten W&ouml;rter, um Dich anschliessend zu pr&uuml;fen.</li>
  <li><b>Pr&uuml;fen:</b> Pr&uuml;fe Dich, ob Du die erfassten W&ouml;rter beherrschst.</li>
</ol>
<mat-tab-group (selectedTabChange)="onTabChanged($event)" animationDuration="0ms">
  <mat-tab label="Erfassen" disabled="{{examStarted}}">
    <div class="content">
      <app-tab1></app-tab1>
    </div>
  </mat-tab>
  <mat-tab label="Trainieren" disabled="{{examStarted}}">
    <div class="content">
      <app-tab2></app-tab2>
    </div>
  </mat-tab>
  <mat-tab label="Pr&uuml;fen">
    <div class="content">
      <app-tab3></app-tab3>
    </div>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>